
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    border: 4px solid #ddd;
}

th {
    background-color: yellow;
    text-align: left;
}
tr {
    background-color: yellow;
}
